.theme-default {
	--boxBorderColor: #1589ee;
	--boxShadow: rgba(0, 0, 0, 0.25);
	--boxGlow: #0070D2;
	--boxBackgroundColor: white;
	--itemColor: #000;
	--itemColorHover: #000;
	--itemBackground: #f0f0f0;
	--iconFilter: invert(0%);
}
.theme-unicorn {
	--boxBorderColor: #F85CA5;
	--boxShadow: #FFBCCDaa;
	--boxGlow: #FEEB8Faa;
	--boxBackgroundColor: #fff;
	--itemColor: turquoise;
	--itemColorHover: hotpink;
	--itemBackground: #B7EAF388;
	--iconFilter: hue-rotate(185deg) brightness(1.5);
}
.theme-dark {
	--boxBorderColor: #E1E5EB;
	--boxShadow: #383D4655;
	--boxGlow: #0070D2;
	--boxBackgroundColor: #212121;
	--itemColor: #8BA8E2;
	--itemColorHover: #8BA8E2;
	--itemBackground: #0f0f0f;
	--iconFilter: invert(100%) hue-rotate(185deg) brightness(1.5);
}
.theme-solarized {
	--boxBorderColor: #0E2B36;
	--boxShadow: #A5782755;
	--boxGlow: #5697D3;
	--boxBackgroundColor: #FBF6E3;
	--itemColor: #A57827;
	--itemColorHover: #59A39B;
	--itemBackground: #173642;
	--iconFilter: hue-rotate(240deg);	
}

#sfnavSearchBox {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
	overflow:hidden;
	z-index: -1;
	background-color:#1797c0;
	top:20%;
	left:20%;
	position:fixed;
	padding:9px;
	width:50%;
	border: 1px solid var(--boxBorderColor);
	border-radius: 4px;
	box-shadow: 0 0 3px var(--boxGlow), var(--boxShadow) 0px 6px 20px 0px;
	background-color: var(--boxBackgroundColor);
	font-family: Helvetica, Arial, sans-serif;
}
#sfnavSearchBox .sfnav_wrapper {
	background: var(--boxBackgroundColor);
	position:relative;
	height: 48px;
	display: flex;
}
#sfnavSearchBox .sfnavOutput {
	max-height:640px;
	overflow:auto;
}
.sfnav_shadow {
	max-height:100%;
	overflow:auto;
}
.sfnav_child:hover {
	color: var(--itemColorHover);
}
.sfnav_child {
	display:block;
	color:var(--itemColor);
	font-size: 16px;
	text-decoration: none;
}
#sfnavSearchBox input {
	position: relative;
	flex: 1;
	display: inline-block;
	width:90%;
	outline: none;
	background-color:var(--boxBackgroundColor);
	border:none;
	color:var(--itemColor);
	font-size:24px;
}
.sfnav_selected {
	background-color:var(--itemBackground);
	color:var(--itemColorHover);
}
#sfnav_logo {
	filter:  var(--iconFilter);
	width:48px;
	height:48px;
	display: inline-block;
}
#sfnavLoader {
	visibility: hidden;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: auto;
	margin-bottom: auto;
}
.forceStyle .allow-horizontal-form .form-horizontal .inlineEditUndo {
    margin-bottom: -3em;
	left: -1em;
}