<div class="sfnav-wrapper" ng-show="isDisplayed">
    <div id="sfnav" class="sfnav" ng-show="!isSettings" click-anywhere-but-here="kill()">
        <div id="sfnav-search" class="sfnav-search">
            <i ng-click="refresh()" class="fa fa-refresh sfnav-refresh"></i>
            <input x-webkit-speech ng-model="query" id="sfnav-search-field" type="search" autofocus="autofocus" ng-focus="true">
            <i ng-click="isSettings=!isSettings; newShortcut=shortcut.main" class="fa fa-gear sfnav-config"></i>
        </div>
        <ul id="sfnav-ul">
            <li class="sfnav-content" ng-class="{selected: $index==selectedIndex}" ng-repeat="item in (filteredItems = (items | orderBy:sortByMostHits | filter:query | limitTo:10 )) track by item.name" ng-click="go($index)">
                <i ng-show="{{item.icon.length > 0}}" class="{{item.icon}} fa-lg"></i>
                <img ng-show="{{item.img.length > 0}}" class="sfnav-icon-image" src="{{item.img}}"></img>
                <h4 class="sfnav-name">{{item.name}}</h4>  
                <p>{{item.longName}}</p>
                <span ng-show="{{stats[item.name].totalHits > 0}}" class="sfnav-badge">{{stats[item.name].totalHits}}</span>

            </li>
        </ul>
    </div>
    <div class="sfnav-config sfnav" ng-show="isSettings" ng-click="" click-anywhere-but-here="kill()">
        <div class="sfnav-search">
            <input type="checkbox" ng-model="disableKeyListener"/>
            <input type="text" key-combo ng-model="newShortcut" ng-show="!disableKeyListener" ng-change="shortcut.main = newShortcut"/>
            <input type="text" ng-model="newShortcut" ng-show="disableKeyListener" ng-change="shortcut.main = newShortcut"/>
            <a href="" class="keycombo-save" ng-click="resetEverything()">Reset Everything</a>
        </div>
    </div>
</div>