<div class="sfnav-wrapper">
	<div class="sfnav-wrapper">
    <div id="sfnav" class="" >
        <div id="sfnav-search">
            <i ng-click="refresh()" class="fa fa-refresh sfnav-refresh"></i>
            <input x-webkit-speech ng-model="query" id="sfnav-search-field" type="search">
            <i ng-click="config()" class="fa fa-gear sfnav-config"></i>
        </div>
        <ul id="sfnav-ul">
            <li class="sfnav-content" ng-class="{selected: $index==selectedIndex}" ng-repeat="item in (filteredItems = (items | orderBy:sortByMostHits | filter:query | limitTo:10 )) track by item.name" ng-click="go($index)">
                <i ng-show="{{item.icon.length > 0}}" class="{{item.icon}} fa-lg"></i>
                <img ng-show="{{item.img.length > 0}}" class="sfnav-icon-image" src="{{item.img}}"></img>
                <h4 class="sfnav-name">{{item.name}}</h4>  
                <p>{{item.longName}}</p>
                <span ng-show="{{stats[item.name].totalHits > 0}}" class="sfnav-badge">{{stats[item.name].totalHits}}</span>

            </li>
        </ul>
    </div>
</div>
</div>
